html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("img/backgroundimage.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #b3bbc673;
    background-color: #ffffff;
}

.header {
    color: #5072A7;
    font-weight: normal;
    text-align: center;
    padding: 50px;
}

.form__fieldset {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    border: none;
}

.form__label {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.form__input {
    display: flex;
    flex-basis: 350px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.42);
}

.form__input--grey {
    background-color: #F1F2F5;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.form__button--container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form__button {
    max-width: 100%;
    width: 80%;
    background-color: #5072A7;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px;
}

.form__button:hover {
    background-color: #537bbb;
}

.form__button:active {
    background-color: #4773b9;
}

.form__result {
    padding: 20px;
}